GITHUB_OWNER=Jakov0322
GITHUB_REPO=cognitive-operating-system
GITHUB_TOKEN=xxx --- IGNORE ---

LINEAR_API_KEY=xxx

JIRA_BASE_URL=https://your-domain.atlassian.net
JIRA_EMAIL=you@example.com
JIRA_API_TOKEN=xxx
JIRA_PROJECT_KEY=PROJ

SLACK_BOT_TOKEN=xoxb-xxx
SLACK_CHANNEL_IDS=C0123456789,C9876543210

VOYAGE_API_KEY=xxx
VOYAGE_EMBEDDING_MODEL=voyage-3-lite